:root {
    --blue: rgb(88, 96, 211);
    --green: rgb(64, 214, 107);
    --red: rgb(238, 51, 57);
    --yellow: rgb(255,242,0);
    --pink: #fa3a6d;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display:grid;
    flex-direction: column;
    height: 100vh;
    grid-template: 1fr 3fr/ 1fr 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.header {
    display:grid;
    grid-area: header;
    background-color:var(--green);
    padding: 0px 50px;
    align-content: center;
    padding-top: 20px;
    box-shadow: 0 5px 5px #bec2c7;
    z-index: 1;
}



.upper {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
}

.search {
    display: flex;
    width: min(80%, 800px);
}

form {
    background-color: white;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 25rem;
  }

  input {
    all: unset;
    font: 16px system-ui;
    color: var(--pink);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
  }

  ::placeholder {
    color: gray;
    opacity: 0.7; 
  }

  #search {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
  }
  
  svg {
    color: gray;
    fill: currentColor;
    width: 24px;
    height: 24px;
    padding: 10px;
  }

.account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    padding: 0 0;
}

.account > i {
    color: black;
    padding-right: 3rem;
}

.account > i:hover {
    cursor: pointer;
}

.account > img:hover {
    cursor: pointer;
}

.account > h3 {
    font-size: 1.2rem;
    padding-left: 3rem;
}

.lower {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
}

#ender-small {
    height: 60px;
    width: 60px;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0px;
    align-items: center;
}

.profile-info {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 3fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#ender-profile {
    height: 125px;
    width: 125px;
}

.profile-info #intro {
    font-size: 1rem;
}
.profile-info #account-name {
    font-size: 2rem;
    font-weight: 800;
}

.profile-info p {
    margin: 0;
    padding-left: 10px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap:3rem;
}

.actions > button {
    background-color: var(--pink);
    color: white;
    font-weight: 800;
    padding: 0.75em 2.3em;
    border-radius: 8px;
    width: 8rem;
    border: none;
}

button:hover {
    cursor: pointer;
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--blue);
    padding: 2rem 2rem;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.logo > img {
    height: 75px;
    width: 75px;
    border-color: black;
    border-style: solid;
}

.logo > h1 {
    font-size: 2rem;
    margin: 0;
    color: white;
    align-content: center;
}

ul {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0px;
    display: grid;
    margin-top: 8rem;
}

.links>ul>li>i {
    width: 35px;
    height: 35px;
    color:white;
}

ul > li {
    padding-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
}

a:hover {
    font-weight: 800;
}

.content {
    display: grid;
    grid-area: main;
    padding: 1rem;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}

.projects h3, .announcements h3, .trending h3 {
    font-size: 1.2rem;
}

.cards {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.cards .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-color: gray;
    border-style: solid;
    text-align:left;
    padding: 1.5rem;
    border-width: 1px;
    border-radius: 8px;
    border-left: 10px solid var(--pink);
    grid-template-rows: 1fr 1fr 1fr;
}

.projects .card:hover {
    cursor: pointer;
    transform: scale(1.1); 
}

.cards .icons {
    display: flex;
    justify-content: right;
}

.cards .icons i {
    padding: 0 0.8rem;
    font-size: 1.2rem;
}

.card>.icons>i:hover {
    cursor: pointer;
    color: var(--blue);
    font-size: 25px;
}

.cards h5, .announcement > h5, .trending > h5 {
    margin:0;
    font-size: 1rem;
}

.card > p {
    font-size: 1rem;
    color: black;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.new-card {
    display:none;
}

.announcements {
    display: grid;
    justify-content: left;
}
  
.announcement {
    padding: 1rem 0;
    text-align: left;
}

.announcements > ul, .trending > ul {
    margin-top: 0;
}
  
.announcement:first-child {
    padding-top: 0;
}
  
.announcement:last-child {
    padding-bottom: 0;
}  

.announcement + .announcement {
    border-top: gray 1px solid;
}

.announcement > p {
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.8rem;
}

.announcements, .trending {
    padding: 1rem;
}

.announcements .card {
    display: grid;
    flex-direction: column;
    background-color: white;
    border-color: gray;
    border-style: solid;
    text-align: center;
    padding: 1rem;
    border-width: 1px;
    border-radius: 8px;
    margin-bottom: 0;
}

.trending .card {
    display: grid;
    background-color: white;
    border-color: gray;
    border-style: solid;
    text-align: center;
    padding: 1rem;
    border-width: 1px;
    border-radius: 8px;
}

.trend {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
}
  
.trend + .trend {
    margin-top: 1rem;
}
  
.trend .picture img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.trend .picture img:hover {
    transform: scale(2);
}

.trend .account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.9rem;
    padding-left: 0.5rem;
}
  
.trend .username {
    font-weight: 500;
}

.trend p {
    margin-top: 0;
    margin-bottom: 0;
}